In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
# import libraries
import pandas as pd
import numpy as np
import seaborn as sns
import warnings
import torch
import torch.nn as nn
import torch.optim as optim
import scipy.sparse
from torch.utils.data import DataLoader, Dataset
from torch.optim.lr_scheduler import StepLR, ReduceLROnPlateau
from imblearn.over_sampling import SMOTE
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.metrics import f1_score

In [3]:
# Set global parameters
sns.set(style='darkgrid')
pd.set_option('display.precision', 2)
pd.set_option('mode.chained_assignment', None)
warnings.filterwarnings('ignore')

In [4]:
# Read csv file and print our 5 rows
df = pd.read_csv('/content/drive/MyDrive/DATA1/credit_score_cleaned_train.csv')
df.loc[0:2].style

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96696 entries, 0 to 96695
Data columns (total 28 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        96696 non-null  object
 1   customer_id               96696 non-null  object
 2   month                     96696 non-null  object
 3   name                      96696 non-null  object
 4   age                       96696 non-null  int64
 5   ssn                       96696 non-null  object
 6   occupation                96696 non-null  object
 7   annual_income             96696 non-null  float64
 8   monthly_inhand_salary     96696 non-null  float64
 9   credit_history_age        96696 non-null  int64
 10  total_emi_per_month       96696 non-null  float64
 11  num_bank_accounts         96696 non-null  int64
 12  num_credit_card           96696 non-null  int64
 13  interest_rate             96696 non-null  int64
 14  num_of_loan               96696 non-null  int64
 15  type_of_loan              96696 non-null  object
 16  delay_from_due_date       96696 non-null  int64
 17  num_of_delayed_payment    96696 non-null  int64
 18  changed_credit_limit      96696 non-null  float64
 19  num_credit_inquiries      96696 non-null  int64
 20  credit_mix                96696 non-null  object
 21  outstanding_debt          96696 non-null  float64
 22  credit_utilization_ratio  96696 non-null  float64
 23  payment_of_min_amount     96696 non-null  object
 24  amount_invested_monthly   96696 non-null  float64
 25  payment_behaviour         96696 non-null  object
 26  monthly_balance           96696 non-null  float64
 27  credit_score              96696 non-null  int64
dtypes: float64(8), int64(10), object(10)
memory usage: 20.7+ MB

In [5]:
unique_classes_list = df['credit_score'].unique()
print(f'The unique classes in the target column are: {unique_classes_list}')

The unique classes in the target column are: [2 1 0]

In [6]:
# Check for NaN values in each column
nan_columns = df.isna().sum()

# Filter columns with NaN values
nan_columns = nan_columns[nan_columns > 0]

print(f"Columns with NaN values:\n{nan_columns}")
print(f"Number of columns with NaN values: {nan_columns.count()}")

Columns with NaN values:
Series([], dtype: int64)
Number of columns with NaN values: 0

In [7]:
# Global variables
SEED = 777
torch.manual_seed(SEED)

In [8]:
# Create features and target
X = df.drop(['credit_score'], axis=1)
y = df['credit_score']

In [9]:
# Define numerical and categorical features
numeric_features = X.select_dtypes(include=[np.number]).columns.tolist()
categorical_features = X.select_dtypes(include=[object, 'category']).columns.tolist()

In [10]:
# Preprocessing pipeline
preprocessor = ColumnTransformer(
    transformers=[
        ('num', StandardScaler(), numeric_features),
        ('cat', OneHotEncoder(), categorical_features)
    ])

X = preprocessor.fit_transform(X)

In [ ]:
# Upscaling data
scaler = StandardScaler(with_mean=False)
X_scaled = scaler.fit_transform(X)

In [ ]:
# Balancing labels using SMOTE
smote = SMOTE(random_state=SEED)
X_resampled, y_resampled = smote.fit_resample(X_scaled, y)

In [ ]:
# Split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(
    X_resampled, y_resampled, test_size=0.2, random_state=SEED)

In [ ]:
# Save the split data to disk
scipy.sparse.save_npz('/content/drive/MyDrive/DATA1/X_train.npz', X_train)
scipy.sparse.save_npz('/content/drive/MyDrive/DATA1/X_test.npz', X_test)
pd.DataFrame(y_train).to_csv('/content/drive/MyDrive/DATA1/y_train.csv', index=False)
pd.DataFrame(y_test).to_csv('/content/drive/MyDrive/DATA1/y_test.cs', index=False)

In [11]:
# Convert to PyTorch tensors
class CreditScoreDataset(Dataset):
    def __init__(self, X_path, y_path):
        self.X = scipy.sparse.load_npz(X_path)
        self.y = pd.read_csv(y_path).values.flatten()

    def __len__(self):
        return len(self.y)

    def __getitem__(self, idx):
        X = torch.tensor(self.X[idx].toarray(), dtype=torch.float32).squeeze()
        y = torch.tensor(self.y[idx], dtype=torch.long)
        return X, y

In [12]:
# Create datasets and dataloaders
train_dataset = CreditScoreDataset(
    '/content/drive/MyDrive/DATA1/X_train.npz',
    '/content/drive/MyDrive/DATA1/y_train.csv'
)
test_dataset = CreditScoreDataset(
    '/content/drive/MyDrive/DATA1/X_test.npz',
    '/content/drive/MyDrive/DATA1/y_test.csv'
)

train_loader = DataLoader(train_dataset, batch_size=256, shuffle=True)
test_loader = DataLoader(test_dataset, batch_size=256, shuffle=False)

In [13]:
class CreditScoreModel(nn.Module):
    def __init__(self, input_dim, output_dim):
        super(CreditScoreModel, self).__init__()
        self.fc1 = nn.Linear(input_dim, 256)
        self.bn1 = nn.BatchNorm1d(256)
        self.fc2 = nn.Linear(256, 128)
        self.bn2 = nn.BatchNorm1d(128)
        self.fc3 = nn.Linear(128, 64)
        self.bn3 = nn.BatchNorm1d(64)
        self.fc4 = nn.Linear(64, output_dim)
        self.relu = nn.ReLU()
        self.dropout = nn.Dropout(0.4)

    def forward(self, x):
        x = self.relu(self.bn1(self.fc1(x.to_dense())))
        x = self.dropout(x)
        x = self.relu(self.bn2(self.fc2(x)))
        x = self.dropout(x)
        x = self.relu(self.bn3(self.fc3(x)))
        x = self.dropout(x)
        x = self.fc4(x)
        return x

In [14]:
# Initialize the model, loss function, and optimizer
input_dim = 131635 # number of encoded cols
output_dim = len(unique_classes_list)

model = CreditScoreModel(input_dim, output_dim)
criterion = nn.CrossEntropyLoss()
optimizer = optim.Adam(model.parameters(), lr=0.001, weight_decay=1e-5)  # L2 regularization

# Dynamic learning rate scheduler
scheduler = ReduceLROnPlateau(optimizer, 'min', patience=5, factor=0.5)

num_epochs = 10  # Set the number of epochs

In [15]:
# Train the model
for epoch in range(num_epochs):
    model.train()  # Set the model to training mode
    running_loss = 0.0

    for inputs, labels in train_loader:
        optimizer.zero_grad()  # Zero the parameter gradients
        outputs = model(inputs)  # Forward pass
        loss = criterion(outputs, labels)  # Compute the loss
        loss.backward()  # Backward pass
        optimizer.step()  # Update the weights

        running_loss += loss.item()

    # Step the scheduler
    scheduler.step(running_loss / len(train_loader))

    print(f'Epoch [{epoch+1}/{num_epochs}], Loss: {running_loss/len(train_loader)}')

Epoch [1/10], Loss: 0.17552330960899468
Epoch [2/10], Loss: 0.032439153863495024
Epoch [3/10], Loss: 0.03118386675674067
Epoch [4/10], Loss: 0.03169402575754709
Epoch [5/10], Loss: 0.03141396977152004
Epoch [6/10], Loss: 0.030555471330186965
Epoch [7/10], Loss: 0.030370572870250166
Epoch [8/10], Loss: 0.029556111226294104
Epoch [9/10], Loss: 0.03027189103857562
Epoch [10/10], Loss: 0.028706135872200007

In [18]:
# Evaluation loop
model.eval()  # Set the model to evaluation mode
all_labels = []
all_predictions = []

with torch.no_grad():  # Disable gradient calculation
    for inputs, labels in test_loader:
        outputs = model(inputs)  # Forward pass
        _, predicted = torch.max(outputs.data, 1)  # Get the predicted class
        all_labels.extend(labels.cpu().numpy())
        all_predictions.extend(predicted.cpu().numpy())

    # Calculate F1 score
    f1 = f1_score(all_labels, all_predictions, average='weighted')
    print(f'F1 Score of the model on the test data: {f1}')

F1 Score of the model on the test data: 0.9968271025145675